---
layout: page
permalink: /featured/
title: Selected writing
description: "A curated introduction to SystemHalted."
---

<p class="archive-intro">A small collection that captures what this site is about.</p>

<ol class="writing-list writing-list-paged">
  {% for slug in site.data.start_here.posts %}
    {% assign selected_post = site.posts | where: "url", slug | first %}
    {% if selected_post %}
    <li class="writing-row">
      <time datetime="{{ selected_post.date | date_to_xmlschema }}">{{ selected_post.date | date: "%b %d, %Y" }}</time>
      <a href="{{ selected_post.url | relative_url }}">{{ selected_post.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ol>
