.collection-list,
.category-posts {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.collection-list li,
.category-posts li {
  margin-bottom: 0.25rem;
}

.post-list-date {
  display: inline-block;
  margin-right: 0.5em;
  font-size: 0.85rem;
  color: #888;
}

.category-post-date {
  display: block;
  margin-bottom: 0.15rem;
  font-size: 0.9rem;
  color: #777;
}

.category-post-title {
    margin-bottom: 0.4rem;
    display: block;
}


/* Collection index pages (Emacs, Kartavya Path, etc.) */

.collection-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.collection-item {
  margin-bottom: 1.5rem;
}

.collection-item-date {
  font-size: 0.9rem;
  color: #777;
  line-height: 1.2;
}

.collection-item-title a {
  display: inline-block;   /* keeps title on its own line */
  margin-top: 0.1rem;
}
