<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<aside class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    {% for item in site.sidebar.items %}
  
    <a
      class="sidebar-nav-item{% if page.url == item.url %} active{% endif %}"
      href="{{ item.url | relative_url }}">
      {{ item.title }}
    </a>
    {% endfor %}

    <!-- Manually entered links stay as-is -->
    <button class="sidebar-nav-item sidebar-nav-action" id="annotate-toggle" type="button">
      Annotate me
    </button>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</aside>
