---
layout: default
---

<article class="emacs-note">
  <header class="emacs-note-header">
    <p class="newsletter-kicker">Emacs note</p>
    <h1 class="newsletter-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {% if page.toc %}
    <details class="post-toc">
      <summary>Contents</summary>
      <nav aria-label="Table of contents">{{ content | toc_only }}</nav>
    </details>
    {% endif %}
    {{ content }}
  </div>

  {% if page.tags and page.tags != empty %}
  <div class="post-tags">
    {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
      {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  </div>
  {% endif %}
</article>
